absl-py==2.1.0
aiolimiter==1.2.1
altgraph==0.17.4
anyio==4.9.0
APScheduler==3.11.0
asttokens==2.4.1
astunparse==1.6.3
auto-py-to-exe==2.46.0
bleak==0.22.2
bleak-winrt==1.2.0
bottle==0.13.3
bottle-websocket==0.2.9
cachetools==5.5.2
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cryptography==44.0.0
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
Eel==0.18.1
et_xmlfile==2.0.0
executing==2.0.1
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
gevent==25.4.1
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==3.2.1
grpcio==1.66.1
h11==0.14.0
h2==4.2.0
h5py==3.11.0
hpack==4.1.0
httpcore==1.0.8
httpx==0.28.1
hyperframe==6.1.0
idna==3.7
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.2
jupyter_core==5.7.2
karel==1.3.0
kiwisolver==1.4.7
libclang==18.1.1
lxml==6.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
MouseInfo==0.1.3
mpmath==1.3.0
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.4
opencv-python==4.10.0.84
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
parso==0.8.4
patool==4.0.1
pefile==2023.2.7
pillow==10.4.0
platformdirs==4.2.2
ply==3.11
prompt_toolkit==3.0.47
protobuf==4.25.4
psutil==6.0.0
public-ip==0.12
pure_eval==0.2.3
py-cpuinfo==9.0.0
PyAutoGUI==0.9.54
pycparser==2.22
pyFirmata==1.1.0
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyMsgBox==1.0.9
pyparsing==3.2.0
pyperclip==1.9.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.17.0
PyRect==0.2.0
PyScreeze==0.1.30
pyserial==3.5
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
python-telegram-bot==22.0
pytweening==1.2.0
pytz==2024.2
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.1.0
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.32.3
rfc3986==1.5.0
rich==13.8.1
scipy==1.14.1
seaborn==0.13.2
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
stack-data==0.6.3
stanfordkarel==0.2.7
sympy==1.13.1
termcolor==2.4.0
torch==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
ultralytics==8.3.28
ultralytics-thop==2.0.11
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.4
wrapt==1.16.0
xlwt==1.3.0
zope.event==5.0
zope.interface==7.2
